extends layout

block content
    h1 Login
    form(id='form' method='post' action='/')
        label Username
        br
        input(type='text' name='name_first')
        br
        label Password
        br
        input(type='text' name='name_last')
        br
        input(type='submit' value='Submit')
