extends layout

block content
    h1 Login
    form(id='form', method='post', action='/login')
        div(class='form-control')
            label(for='username')
                span Username
                input(type='text', name='username')
        div(class='form-control')
            label(for='password')
                span Password
                input(type='password', name='password')
        div(class='form-control')
            label(for='')
                span &nbsp;
                input(type='submit', value='Log In', name='submit')
