ul
    li
        a(href='/') Home
    if !req.user
        li
            a(href='/register') Register
        li
            a(href='/login') Login
    else
        li
            a(href='/profile') Profile
        if req.user.isAdmin
            li
                a(href='/users') Users
        li
            a(href='/logout') Logout
