* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color:  rgba(54, 57, 66, 1);
    width: 90%;
    padding: 20px;
    margin: 20px auto;
}

div.container {
    background-color: rgba(216, 202, 168, 1);
    padding: 20px;
}

h1 {
    text-align: center;
    /* background-color: rgba(92, 131, 47, 1); */
}

p {
    /* padding: 20px; */
    margin: 20px 0;
}

form.page-form {
    /* background-color: rgba(200, 200, 200, 1); */
    padding: 20px;
    margin: 20px auto;
}
form.form-inline {
    display: inline;
}

ul {
    list-style-type: none;
}

li {
    display:inline;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

.form-control {
    padding: 8px 16px;
}
.submit-control input[type=submit] {
    margin-top: 20px;
    padding: 16px 32px;
}
.form-control span {
    display: block;
    text-align: right;
    width: 30%;
    float: left;
    padding-right: 16px;
}
.form-control input, .form-control select {
    padding: 4px 8px;
}

canvas {
    margin:1.5%;
    width: 30%;
}

table {
    width: 100%;
}
tr {
    text-align: left;
}
